body {
	font-family: 'Roboto', sans-serif;
	background-color: #E0FFFF;
	background-size: cover;
}

p {
	color: #222222;
	text-align: center;
}
.name {
	font-size: 45px;
}

.saahil_image {
	margin-top: -20px;
}

.description {
	font-size: 25px;
}

.logo {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}