body {
	font-family: 'Roboto', sans-serif;
	background-color: #F5F5F5;
}

a {
	text-decoration: none;
	color: #222222;
}

p {
	color: #222222;
	text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color: #111111;
    color: white;
}

.link:hover {
    color: grey;
}
.nav {
	font-size: 18px;
}

.name {
	font-size: 90px;
	line-height: 10rem;
	font-weight: 100;
	margin: 0;
	color: #222222;
	text-align: center;
}

.saahil_image {
	margin-top: -20px;
	margin-bottom: -25px;
}

.description {
	font-size: 40px;
	margin-bottom: -10px;
	color: #222222;
}

.divider {
	font-size: 20px;
}

.social {
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	color: #222222;
}

.social:hover {
    color: grey;
}

.about {
	text-align: left;
	padding-left: 50px;
	line-height: 40.15px;
	font-size: 25px;
}